body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rosybrown;
}

.App {
  width: 50%;
  margin: auto;
  text-align: center;
}

.button1 {
  font-family: "Trebuchet MS";
  background-color: aquamarine;
  font-weight: bolder;
  font-size: 19px;
}
